# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
game.data
game.html
game.html.mem
game.js
.idea
cmake-build-debug
CMakeFiles
blank
blank.cbp
cmake_install.cmake
CMakeCache.txt
